div {
    cursor:wait;
    text-align: center;
    width: 100%;
    align-content: center;
    margin-bottom: 7%;
}
.cover {
    border: 6px solid black;
	width: 100vw;
	max-width: 100vw;
}
a {
    display: inline-block;
}
.book {
    height: 90%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin:auto;
}
.download_link {
    color: blue;
    text-align: center;
    height: 3%;
}
