ul, li {
    list-style-type: square;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.download-link {
    color: var(--link-color) !important;
    text-align: left;
    height: 3%;
}