<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/library.css">
    </head>
    <body>
        {% for book_name, book_cover, encoded_book_tag in books%}
        <div>
            <a class="book" href={{'/static/books/' + encoded_book_tag}}>
                <img src="/static/covers/{{book_cover}}"/>
            </a>
            <a class="download_link" href="/download?book={{encoded_book_tag}}">[DOWNLOAD BOOK]</a>
        </div>
        {% endfor %}

    </body>
</html>